<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cat Pic Discord Bot</title>
  <meta name="description" content="A discord bot that gives cat pics!">
  <link rel="icon" type="image/png" sizes="192x192" href="https://placeimg.com/192/192/animals">
  <link rel="icon" type="image/png" sizes="96x96" href="https://placeimg.com/96/96/animals">
  <link rel="icon" type="image/png" sizes="32x32" href="https://placeimg.com/32/32/animals">
  <link rel="preload" href="https://source.unsplash.com/featured/?dark,darkness,night" as="image">
  <link rel="preload" href="{{{ last }}}" as="image">
</head>
<body>
  <style>
  /* Basic styling for buttons, etc. */
  html, body {
    font: 1.15rem monospace;
    color: #fafafa;
    height: 100%;
    overflow: hidden;
  }

  footer {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    overflow: hidden;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
  }

  .text {
    font-weight: bolder;
    cursor: help;
    display: none;
    margin-left: 2.5rem;
  }

  .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	  display: inline-block;
    margin-top: 0.7rem;
    cursor: pointer;
    font: 1.25rem monospace;
    color: #fafafa;
    appearance: button;
    padding: 0.4rem 1.1rem;
    border: 0;
    border-radius: 0.7rem;
    background: #4527a0;
    box-shadow: .25rem .25rem #111111;
  }

  /* Change color when checked */
  .input:checked {
    background: #212121;
    box-shadow: .25rem .25rem #311b92;
  }

  .input:active {
    background: #212121;
    transform: translate(.25rem, .25rem);
  }

  /* Button text */
  #about::after, #lastpic::after {
    content: attr(aria-label);
  }

  /* Display urls */
  #about:checked ~ [data-about], #lastpic:checked ~ [data-pic]  {
    display: block;
  }

  /* Overlay basic styling */
  #underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover; 
    background-position: center; 
    background-color: #d1c4e9;
    transition-property: background-image;
    transition-duration: 2s;
  }

  /* Overlay images */
  #about:checked ~ #underlay {
    background-image: url("https://source.unsplash.com/featured/?dark,darkness,night");
  }

  #lastpic:checked ~ #underlay {
    background-image: url({{{ last }}});
  }
  </style>
  <input type="radio" name="input" id="about" checked class="input" aria-label="About">
  <input type="radio" name="input" id="lastpic" class="input" aria-label="Last pic requested">
  <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=492655578007470091&scope=bot" class="input">Add to Discord</a>
  <h1 data-about class="text">🐱 Cat Pic Discord Bot</h1>
  <p data-about class="text">The Cat Pic Discord Bot is a discord bot that replies to any message starting with cat with a cat picture!</p>
  <p data-about class="text">Cat pics requested since the bot has come online: {{ requested }}</p>
  <p data-pic class="text">{{ last }}</p>
  <footer><small>&copy; Edward 2018</small></footer>
  <div id="underlay"></div>
</body>
</html>
